<div class="form-wrap"
  ng-controller="addCtrl">
  <div class="go-back"
    ng-click="goBack()">
    <i class="glyphicon glyphicon-chevron-left"></i>
    <span>返回</span>
  </div>
  <form class="form-inline">
    <div class="form-group col-md-5"
      ng-class="{'col-md-offset-2': $index%2===0}"
      ng-repeat="form in forms">
      <label for="name">{{form.name}}</label>
      <div class="form-repeat-wrap"
        ng-if="form.type === undefined || form.type ==='text'">
        <input type="text"
          class="form-control"
          ng-model="form.value"
          ng-placeholder="form.text">
      </div>
      <div class="form-repeat-wrap"
        ng-if="form.type === 'date'">
        <input type="date"
          class="form-control"
          ng-model="form.value">
      </div>
      <div class="form-repeat-wrap"
        ng-if="form.type === 'select'">
        <select ng-model="form.value"
          ng-options="option.id as option.name for option in form.options">
        </select>
      </div>
      <div class="form-repeat-wrap"
        ng-if="form.type === 'typeahead'">
        <input type="text"
          ng-model="form.value"
          placeholder="{{form.text}}"
          uib-typeahead="state.id as state.name for state in getOptions($viewValue)"
          typeahead-loading="loadingLocations"
          typeahead-no-results="noResults"
          typeahead-input-formatter="formatLabel($model)"
          class="form-control">
      </div>
    </div>
    <div class="form-group col-md-10 col-md-offset-2">
      <label for="password">图片</label>
      <input type="file"
        name="file"
        accept="image/*"
        ngf-max-size="2MB"
        ngf-select="uploadFile($file)"
        class="form-control">
    </div>
    <div class="form-group col-md-8 col-md-offset-3">
      <div class="img-wrap"
        ng-repeat="pic in good.productImgsList">
        <img class="img-thumb"
          ng-src="http://www.lifeuxuan.com/{{pic.url}}">
        <p class="img-remove"
          ng-click="removePic(pic)"><i class="glyphicon glyphicon-remove"></i>
        </p>
        <div>
          <label style="width: auto">
            <input type="radio"
              ng-name="{{pic.url}}"
              ng-value=1
              ng-model="pic.type"
              selected>图标</label>
          <label style="width: auto"
            ng-hide="type === 'wash' ">
            <input type="radio"
              ng-name="{{pic.url}}"
              ng-value=3
              ng-model="pic.type">主图</label>
          <label style="width: auto"
            ng-hide="type === 'wash' ">
            <input type="radio"
              ng-name="{{pic.url}}"
              ng-value=0
              ng-model="pic.type">详情图</label>
        </div>
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-md-4 col-md-offset-4">
        <button type="submit"
          class="btn btn-primary btn-block"
          ng-click="submit()">确认</button>
      </div>
    </div>
  </form>
</div>
