<div class="table-data">
  <section class="filters">
    <filter class="filter" ng-repeat="item in filters" filter-data=item filter-value=filtersValue[item.name]></filter>
  </section>
  <section class="table">
    <table class="table table-bordered">
      <thead>
        <th>序号</th>
        <th ng-repeat="th in header">{{th.text}}</th>
        <th>操作</th>
      </thead>
      <tbody>
        <tr>
          <td ng-repeat="td in body">{{td.text}}</td>
          <td>
            <span class="action" ng-repeat="action in actions" ng-click="actionHandler(td, action)">{{action.text}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

