$bg = #f2f7fa
$click = #619de5

html, body
  height 100%
  background #f2f7fa
  min-width 1000px
  overflow auto
  
h1
  color $click

ul
  margin 0
  padding 0
  list-style none
p
  margin 0

td
  position relative
  
.rel
  position: relative
  
.tc
	text-align: center
	
.fl
	float: left
.fr
	float: right 
  

  