.main-header
	overflow: hidden
	border-bottom 1px solid 
	height 60px
	h1
		margin 8px
		
.main-nav
	width 200px
	border-right 1px solid
	cursor: default
	header, li
		border-bottom 1px solid
		padding 5px 15px
		text-align center
	header
		position: relative
		font-weight bold
		i
			position: absolute
			right: 15px
			top: 7px
			color $click
			&.rotate
				transform rotate(90deg)
	li
		text-align right
		cursor pointer
		&::selection
			background none
			
			
.main-frame
	position absolute
	top 60px
	left 200px
	bottom 0px
	right 0px
	
.btn-group
	margin 10px
	
.logout
	position: absolute
	top: 30px
	right: 20px
	cursor: pointer
	
.form-wrap
	padding 25px
	
label
	width 90px
.row
	padding 5px
.btn-row
	margin 20px
.class-tag, class-tag-input
	display inline-block
	padding 0
	height 30px
	line-height 30px
	width 150px
.pagination-li
	width 45px