<div ng-controller="FrameCtrl"
  style="overflow: auto">
  <header class="main-header rel">
    <h1 class="tc">U选到家后台管理</h1>
    <p class="logout fr"
      ng-click="logout()">登出</p>
  </header>
  <nav class="main-nav"
    ng-click="navToggle($event)">
    <div>
      <header>用户管理中心<i class="glyphicon glyphicon-chevron-down"></i></header>
      <ul>
        <li ui-sref="app.list({type:'user'})">用户信息管理</li>
      </ul>
    </div>
    <div>
      <header>商品管理中心<i class="glyphicon glyphicon-chevron-down"></i></header>
      <ul>
        <li ui-sref="app.list({type:'fruit'})">水果产品管理</li>
        <li ui-sref="app.goods-class({type:'fruit'})">水果分类管理</li>
        <li ui-sref="app.list({type:'wash'})">衣服产品管理</li>
        <li ui-sref="app.goods-class({type:'wash'})">衣服分类管理</li>
      </ul>
    </div>
    <div>
      <header>订单管理中心<i class="glyphicon glyphicon-chevron-down"></i></header>
      <ul>
        <li ui-sref="app.list({type:'orders'})">订单管理</li>
        <li ui-sref="app.list({type:'orderTime'})">订单时间流程追踪</li>
        <li ui-sref="app.list({type:'orderGoods'})">订单商品明细</li>
      </ul>
    </div>
    <div>
      <header>管家管理中心<i class="glyphicon glyphicon-chevron-down"></i></header>
      <ul>
        <li ui-sref="app.list({type:'guard'})">管家信息管理</li>
        <li ui-sref="app.list({type:'guardOrders'})">管家订单明细</li>
      </ul>
    </div>
    <div>
      <header>供应商管理中心<i class="glyphicon glyphicon-chevron-down"></i></header>
      <ul>
        <li ui-sref="app.list({type:'fruitShop'})">水果商家信息</li>
        <li ui-sref="app.list({type:'washShop'})">洗衣商家信息</li>
      </ul>
    </div>
    <div>
      <header>财务管理中心<i class="glyphicon glyphicon-chevron-down"></i></header>
      <ul>
        <li ui-sref="app.list({type:'guardWage'})">管家收入查询</li>
        <li ui-sref="app.list({type:'shopWage'})">商家结算查询</li>
      </ul>
    </div>
    <div>
      <header>内容管理中心<i class="glyphicon glyphicon-chevron-down"></i></header>
      <ul>
        <li ui-sref="app.list({type:'banner'})">Banner管理</li>
      </ul>
    </div>
  </nav>
  <div class="main-frame">
    <ui-view></ui-view>
  </div>
</div>
