.main-header
	width 100%
	position fixed
	overflow hidden
	border-bottom 1px solid 
	height 60px
	background $bg
	z-index 100
	h1
		margin 8px
		
.main-nav
	position fixed
	top 60px
	bottom 0px
	width 160px
	border-right 1px solid
	cursor default
	overflow scroll
	background $bg
	z-index 100
	header, li
		border-bottom 1px solid
		padding 5px 15px
		text-align center
	header
		position: relative
		font-weight bold
		i
			position: absolute
			right: 15px
			top: 7px
			color $click
			&.rotate
				transform rotate(90deg)
	li
		text-align right
		cursor pointer
		&::selection
			background none
			
.main-frame
	overflow auto
	padding 70px 10px 10px 170px
	
.btn-group
	margin 10px
	
.logout
	position absolute
	top 20px
	right 20px
	color $click
	cursor pointer
	
.form-wrap
	padding 25px
	
.row
	padding 5px
.btn-row
	margin 20px
.class-tag, class-tag-input
	display inline-block
	padding 0
	height 30px
	line-height 30px
	width 150px
.pagination-li
	width 45px
	
.form-group
	margin-bottom 15px !important
	label
		width 100px
.form-repeat-wrap
	display inline-block
	width 180px