.table-data
	// width 1700px
	.table
		width auto !important
		th
			min-width 75px
		&.action-th
			width 200px
	.filter
		display inline-block
		margin-right 20px
		.name
			display inline-block
			width 85px
		input.form-control
			display inline-block
			width 165px
			height 30px
			padding 3px
	.action
		display inline-block
		color $click
		cursor pointer
		&:not(:first-child):before
			content '/'
			padding 0 5px
			color #000
			
.img-thumb
	width 140px
.img-wrap
	display inline-block
	position relative
	margin 5px
	border 1px solid #222
	.img-remove
		position absolute
		top 0
		right 0
		width 20px
		height 20px
		background #fff
		text-align center
		color red
.list-item-wrap
	padding 10px 25px