<label ng-if="filter.type === undefined || filter.type === 'text'">
  <span>{{filter.name}}：</span>
  <input class="form-control"
    ng-model="filter.value">
</label>
<label ng-if="filter.type === 'select'">
  <span>{{filter.name}}：</span>
  <select ng-model="filter.value">
    <option value=''>全部</option>
    <option ng-repeat="option in filter.options"
      value={{option.id}}>{{option.name}}</option>
  </select>
</label>
<label ng-if="filter.type === 'typeahead'">
  <span>{{filter.name}}：</span>
  <input type="text"
    ng-model="filter.value"
    placeholder="{{filter.text}}"
    uib-typeahead="state.name as state.name for state in getOptions(filter.API, filter.key, $viewValue)"
    typeahead-loading="loadingLocations"
    typeahead-no-results="noResults"
    class="form-control">
</label>
<label ng-if="filter.type === 'dateInputRange'">
  <span>{{filter.name}}：</span>
  <input type="date"
    ng-model="filter.value">
  <span>---</span>
  <input type="date"
    ng-model="filter.value2">
</label>
