<label ng-if="filter.type === undefined || filter.type === 'text'">
  <span class="name">{{filter.name}}：</span>
  <input class="form-control"
    ng-model="filter.value">
</label>
<div ng-if="filter.type === 'select'">
  <label>
    <span class="name">{{filter.name}}：</span>
    <select class="form-control"
      ng-model="filter.value"
      ng-change="loadNextFilteOptions(filter.value)">
      <option value=''>全部</option>
      <option ng-repeat="option in filter.options"
        value={{option.id}}>{{option.name}}</option>
    </select>
  </label>
  <filter ng-if="filter.next"
    class="filter"
    filter-param="filter.value"
    filter="filter.next"></filter>
</div>
<label ng-if="filter.type === 'typeahead'">
  <span class="name">{{filter.name}}：</span>
  <input type="text"
    ng-model="filter.value"
    placeholder="{{filter.text}}"
    uib-typeahead="state.name as state.name for state in getOptions(filter.API, filter.typeaheadKey || filter.key, $viewValue)"
    typeahead-loading="loadingLocations"
    typeahead-no-results="noResults"
    class="form-control">
</label>
<label ng-if="filter.type === 'dateInputRange'">
  <span class="name">{{filter.name}}：</span>
  <input type="date"
    class="form-control"
    ng-model="filter.value">
  <span>---</span>
  <input type="date"
    class="form-control"
    ng-model="filter.value2">
</label>

