<div class="table-data">
  <section class="filters">
    <filter class="filter"
      ng-repeat="(key, item) in filters"
      filter="item"></filter>
  </section>
  <div class="btn-group fl"
    role="group">
    <button type="button"
      class="btn btn-primary"
      ng-if="button.query"
      ng-click="buttonAction('query')">查询</button>
    <button type="button"
      class="btn btn-default"
      ng-if="button.new"
      ng-click="buttonAction('new')">新增</button>
    <button type="button"
      class="btn btn-default"
      ng-if="button.export"
      ng-click="buttonAction('export')">导出表格</button>
    <nav aria-label="Page navigation"
      class="fl">
      <ul class="pagination">
        <!-- <li>
        <a href="#"
          aria-label="Previous"
          ng-click="gotoPage('begin')">
          <span aria-hidden="true">共{{page.totalPage}}条</span>
        </a>
      </li> -->
        <li>
          <a href="#"
            aria-label="Previous"
            ng-click="gotoPage('begin')">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li>
          <a href="#"
            aria-label="Next"
            ng-click="gotoPage('pre')">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>
        <li ng-repeat="i in getNumber(page.show) track by $index"
          class="pagination-li"
          ng-class="{'active': page.current - page.adjust + $index == page.current}"
          ng-click="gotoPage(page.current - page.adjust + $index)"><a href="#">{{page.current - page.adjust + $index}}</a></li>
        <li>
          <a href="#"
            aria-label="Previous"
            ng-click="gotoPage('next')">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>
        <li>
          <a href="#"
            aria-label="Next"
            ng-click="gotoPage('end')">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <section class="table">
    <table class="table table-bordered">
      <thead>
        <th style="width: 10px;min-width: 10px">#</th>
        <th ng-repeat="th in header"
          ng-if="!th.isHideInTable">{{th.text}}</th>
        <th ng-if="actions"
          class="action-th">操作</th>
      </thead>
      <tbody>
        <tr ng-repeat="tr in body">
          <td>{{$index + 1}}</td>
          <td ng-repeat="td in header"
            ng-if="!td.isHideInTable">
            <span ng-if="td.type === 'date'">{{tr[td.apiName] | time}}</span>
            <span ng-if="td.type === 'imgUpload'">
              <img style="width: 375px;height: 220px" ng-src="tr[td.apiName]">
            </span>
            <span ng-if="td.type === undefined">{{tr[td.apiName]}}</span>
          </td>
          <td ng-if="actions">
            <p class="action"
              ng-repeat="action in actions">
              <span ng-if="action.directive === undefined"
                ng-click="rowActionHandler(action, tr, $event)">{{action.text}}</span>
              <span-modal ng-if="action.directive === 'modal'"
                get-api="action.getAPI"
                go-api="action.goAPI"
                action-key="action.key"
                row-data="tr">{{action.text}}</span-modal>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <nav aria-label="Page navigation"
    class="fl">
    <ul class="pagination">
      <!-- <li>
        <a href="#"
          aria-label="Previous"
          ng-click="gotoPage('begin')">
          <span aria-hidden="true">共{{page.totalPage}}条</span>
        </a>
      </li> -->
      <li>
        <a href="#"
          aria-label="Previous"
          ng-click="gotoPage('begin')">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li>
        <a href="#"
          aria-label="Next"
          ng-click="gotoPage('pre')">
          <span aria-hidden="true">&lt;</span>
        </a>
      </li>
      <li ng-repeat="i in getNumber(page.show) track by $index"
        class="pagination-li"
        ng-class="{'active': page.current - page.adjust + $index == page.current}"
        ng-click="gotoPage(page.current - page.adjust + $index)"><a href="#">{{page.current - page.adjust + $index}}</a></li>
      <li>
        <a href="#"
          aria-label="Previous"
          ng-click="gotoPage('next')">
          <span aria-hidden="true">&gt;</span>
        </a>
      </li>
      <li>
        <a href="#"
          aria-label="Next"
          ng-click="gotoPage('end')">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
